<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springsource.org/dtd/spring-beans.dtd">

<!--+
  | Application context containing authorization beans.
  +-->

<beans>

  <!-- An access decision voter that reads VOTE_ROLE_URL_* configuration settings -->
  <bean id="roleVoter" class="org.pentaho.platform.repository.pcr.springsecurity.PentahoSubstringRoleVoter">
    <constructor-arg value="VOTE_ROLE_URL_" />
  </bean>

</beans>