<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Plugin 1">

    <menu-items>
        <menu-item id="item1" anchor="admin-submenu" label="Test 1" command="command1" type="MENU_ITEM" how="LAST_CHILD"/>
        <menu-item id="item2" anchor="home-menu-menuitem" label="" command="" type="MENU_ITEM" how="DELETE"/>
        <menu-item id="item3" anchor="new-report-menuitem" label="Test 2" command="" type="MENU_ITEM" how="REPLACE"/>
    </menu-items>

</plugin>