.dialog > tbody > tr > td > div{
  padding: 5px;
}

.checkbox label{
	padding-left:3px;
  	font-family: Helvetica, Arial, sans-serif;
  	font-size: 0.85em;
}

.xul-label{
  white-space: nowrap;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}

.gwt-label{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}

.gwt-TextBox{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}
.gwt-ScrollTable .headerTable td {
  font-weight: normal;
  color: #000000;
  border-right: 1px solid #848484;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}

.custom-list-item {
  white-space: nowrap;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}

aggregation-dialog-checkbox-label {
	padding-left:3px;
  	font-family: Helvetica, Arial, sans-serif;
  	font-size: 0.65em;
}

.gwt-Button {
  font-size: 0.85em;
  background-color: #ddd;
}
.gwt-Button:down {
  cursor:pointer;
}
.gwt-Button:hover {
  background-color: #ffcc99;
  cursor:hand;
}
.gwt-Button:disabled {
  color: #888;
  background-color: #ccc;
  cursor:none;
}

.waiting .waiting-indicator {
  background: white;
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
  padding: 10px;
  margin: 0;
  height: auto;
}

.waiting .waiting-indicator-img {
  background: white;
  margin-right:8px;
  float:left;
  vertical-align:top;
}

.waiting-msg {
  background: white;
  font: normal 10px arial, tahoma, sans-serif;
}

.modalDialogPageBackground {
  opacity: 0.20;
  background-color:  #000000;
  /* Transparency for IE */
  background-image: expression('url(wait-background.gif)');
  background-color: expression('transparent');
  /*
  opacity: 0.20;
  position: expression('absolute');
  height: expression(document.documentElement.scrollHeight+'px');
  width: expression(document.documentElement.scrollWidth+'px');
  */
	cursor: wait;
} 


.waitingDialog{
  position: absolute;
  left: 44%;
  top: 44%;
  padding: 15px 8px;
  z-index: 20001;
  height: auto;
  border: 1px solid #ccc;
  background: white;
}
.waitingDialog_table{
  color: #444;
  background-image: url(large-loading.gif);
  background-position: left center;
  background-repeat: no-repeat;
  font: bold 13px tahoma, arial, helvetica;
}

.waitingDialog_title{

  color: #444;
  font: bold 14px tahoma, arial, helvetica;
  margin-left: 40px;
  padding-bottom: 3px;
}

.waitingDialog_msg{
  font: normal 12px arial, tahoma, sans-serif;
  margin-left: 40px;

}

.gwt-DialogBox {
  background-color: #EDEDED;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #777777;
  border-bottom: 2px solid #777777;
  border-left: 2px solid #CCCCCC;
  padding: 0px;
}

.gwt-DialogBox .Caption {
  background-color: #C2CFA2;
  background-image: none;
  color: #000000;
  cursor: move;
  text-align: left;
  padding: 2px 5px 2px 5px; /* top right bottom left */
  font: normal 14px tahoma, arial, helvetica;
}

.gwt-TabPanel .gwt-TabPanelBottom {
  background-color: #e2e2e2;
  border-left: 1px solid #8d8d8d;
  border-bottom: 1px solid #8d8d8d;
  border-right: 1px solid #8d8d8d;
  padding: 3px 7px 3px 4px;
}

.gwt-TabBar {
  background-image: url(images/dialog_tab_bg.png);
  background-repeat: repeat-x;
  height: 29px;
}

.gwt-TabPanelBottom {
  background-color: #e2e2e2;
  border-left: 1px solid #8d8d8d;
  border-bottom: 1px solid #8d8d8d;
  border-right: 1px solid #8d8d8d;
  padding: 3px 7px 3px 4px;
}

.gwt-TabBar {
  background-image: url(images/dialog_tab_bg.png);
  background-repeat: repeat-x;
  height: 29px;
}

.gwt-TabBar .gwt-TabBarFirst {
}

.gwt-TabBar .gwt-TabBarRest {
}

.gwt-TabBar .gwt-TabBarItem {
  margin-right: 2px;
  cursor: pointer;
  cursor: hand;
  height: 24px;
  margin-top: 4px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  margin-right: 2px;
  cursor: pointer;
  cursor: hand;
  height: 24px;
  margin-top: 4px;

}