
.checkbox label{
	padding-left:3px;
  	font-family: Helvetica, Arial, sans-serif;
  	font-size: 0.85em;
}

.xul-label{
  white-space: nowrap;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}

.gwt-label{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}

.gwt-TextBox{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}
.gwt-ScrollTable .headerTable td {
  font-weight: normal;
  color: #000000;
  border-right: 1px solid #848484;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}

.custom-list-item {
  white-space: nowrap;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;
}

aggregation-dialog-checkbox-label {
	padding-left:3px;
  	font-family: Helvetica, Arial, sans-serif;
  	font-size: 0.65em;
}

.gwt-Button {
  font-size: 0.85em;
  background-color: #ddd;
}
.gwt-Button:down {
  cursor:pointer;
}
.gwt-Button:hover {
  background-color: #ffcc99;
  cursor:hand;
}
.gwt-Button:disabled {
  color: #888;
  background-color: #ccc;
  cursor:none;
}

.waiting .waiting-indicator {
  background: white;
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
  padding: 10px;
  margin: 0;
  height: auto;
}

.waiting .waiting-indicator-img {
  background: white;
  margin-right:8px;
  float:left;
  vertical-align:top;
}

.waiting-msg {
  background: white;
  font: normal 10px arial, tahoma, sans-serif;
}

.modalDialogPageBackground {
  opacity: 0.20;
  background-color:  #000000;
  /* Transparency for IE */
  background-image: expression('url(wait-background.gif)');
  background-color: expression('transparent');
  /*
  opacity: 0.20;
  position: expression('absolute');
  height: expression(document.documentElement.scrollHeight+'px');
  width: expression(document.documentElement.scrollWidth+'px');
  */
	cursor: wait;
} 


.waitingDialog{
  position: absolute;
  left: 44%;
  top: 44%;
  padding: 15px 8px;
  z-index: 20001;
  height: auto;
  border: 1px solid #ccc;
  background: white;
}
.waitingDialog_table{
  color: #444;
  background-image: url(large-loading.gif);
  background-position: left center;
  background-repeat: no-repeat;
  font: bold 13px tahoma, arial, helvetica;
}

.waitingDialog_title{

  color: #444;
  font: bold 14px tahoma, arial, helvetica;
  margin-left: 40px;
  padding-bottom: 3px;
}

.waitingDialog_msg{
  font: normal 12px arial, tahoma, sans-serif;
  margin-left: 40px;
}
