<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- roles with data access permissions -->
    <data-access-roles>Admin</data-access-roles>
    <!-- users with data access permissions -->
    <!--   
    <data-access-users></data-access-users>
     -->
    <!-- roles with datasource view permissions -->
    <data-access-view-roles>Authenticated,Admin</data-access-view-roles>
    <!-- users with datasource view permissions -->
    <data-access-view-users>suzy</data-access-view-users>
    <!-- default view acls for user or role -->
    <data-access-default-view-acls>31</data-access-default-view-acls>
</settings>