
body {
	color:black;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:10pt;
}

.h1 {
	font-size:18px;
	font-weight: bold;
}

.h2 {
	font-size:16px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer
}