<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Pentaho Web Services">
    <menu-items>
        <menu-item id="webservices" anchor="tools-submenu" label="Web Services" command="/pentaho/content/ws-services" type="MENU_ITEM" how="LAST_CHILD"/>
    </menu-items>

    <content-generator scope="global" id="ws-init" type="ws-init" >
        <classname>org.pentaho.platform.webservice.plugin.WebServicesInitializer</classname>
        <title>Web services discovery page</title>
    </content-generator>
    
    <content-generator scope="local" id="ws-services" type="ws-services" >
        <classname>org.pentaho.platform.webservice.content.ListServices</classname>
        <title>Web services discovery page</title>
    </content-generator>
    
    <content-generator scope="local" id="ws-run" type="ws-run" >
        <classname>org.pentaho.webservice.core.content.RunService</classname>
        <title>Web services execution</title>
    </content-generator>
    
    <content-generator scope="local" id="ws-wsdl" type="ws-wsdl" >
        <classname>org.pentaho.webservice.core.content.ServiceWsdl</classname>
        <title>Web services execution</title>
    </content-generator>
    
</plugin>